:root{


  /* ========= COLORS ========= */

  --primary:#173b63;
  --primary-light:#23538a;

  --secondary:#0b8f72;
  --secondary-light:#18b98a;

  --accent:#d8b36a;

  --background:#f7fafc;

  --surface:#ffffff;

  --text:#16324f;

  --text-light:#687785;

  --border:#e6edf5;



  /* ========= SHADOWS ========= */

  --shadow-sm:
      0 10px 25px rgba(18,56,94,.05);

  --shadow-md:
      0 20px 45px rgba(18,56,94,.08);

  --shadow-lg:
      0 35px 75px rgba(18,56,94,.12);



  /* ========= RADIUS ========= */

  --radius-sm:12px;

  --radius-md:18px;

  --radius-lg:28px;

  --radius-xl:40px;



  /* ========= CONTAINER ========= */

  --container:1240px;



   /* ========= TYPOGRAPHY ========= */


  --font-base:16px;


  --heading-xl:2.8rem;

  --heading-lg:2.2rem;

  --heading-md:1.55rem;


  --text-xl:1.05rem;

  --text-lg:1rem;

  --text-md:.92rem;



  /* ========= SPACING ========= */


  --section-padding:55px;

  --section-padding-small:40px;


  --gap-xs:8px;

  --gap-sm:18px;

  --gap-md:28px;

  --gap-lg:45px;



  /* ========= BUTTONS ========= */


  --button-height:48px;

  --button-radius:14px;



  /* ========= TRANSITIONS ========= */


  --transition:.28s ease;


}